<div class="chat-btn">
  <a href="/#contactMe">
    <img src="./assets/img-fixed-but/chat.png" alt="chat-box">
  </a>
</div>

<div class="cover-art">
  <img src="./assets/img-hiyero/cover art (hero).png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-hiyero/problem statement.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-hiyero/process.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-hiyero/user research.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-hiyero/user flow, sitemap.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-hiyero/wireframe.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-hiyero/colors.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-hiyero/typography.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-hiyero/design.png"/>
</div>

<div class="web-btn-container ">
  <a href="https://hiyero.com/">
    <button class="web-btn">
        VIEW HIYERO PAGE
    </button>
  </a>
</div>

<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-hiyero/usability testing.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-hiyero/takeaway.png"/>
</div>
<div class="divider"></div>

