<nav class="nav">
  <div>
    <a href="https://www.linkedin.com/in/omarmhammouda/">
      <img class="navbar-logo" src="./assets/img-homepage/OMHLogo.png" alt="logo">
    </a>
  </div>

  <input id="menu-toggle" class="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>

  <ul class="menu" id="menu">
    <li>
      <a href="/#work">Work</a>
    </li>
    <li>
      <a href="/#aboutMe">About</a>
    </li>
    <li>
      <a href="/#contactMe">Contact</a>
    </li>
    <li>
      <a download="OMH resume" target="_blank" href="assets/img-homepage/OMH RESUME.pdf">Resume</a>
    </li>
  </ul>
</nav>
