<div class="chat-btn">
  <a href="/#contactMe">
    <img src="./assets/img-fixed-but/chat.png" alt="chat-box">
  </a>
</div>

<div class="hero">
  <img src="./assets/img-common/hero.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-common/problem statement.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-common/photo.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-common/process.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-common/empathize.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-common/define.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-common/design.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-common/validate.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-common/reflection.png"/>
</div>
<div class="divider"></div>
