<div fxLayout="column wrap" fxLayoutGap="64px" fxLayoutAlign="start center">
  <div *ngFor="let project of data; let i = index"
    class="project-card"
    (click)="goTo(project.link)">

    <div class="project-container" *ngIf="i%2==0"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="start center">
      <div class="project-thumbnail-container">
        <img *ngIf="project.image !== ''" class="project-thumbnail" src={{project.image}} />
        <video *ngIf="project.video !== ''" class="project-thumbnail" autoplay loop muted playsinline>
          <source src={{project.video}} type="video/webm">
        </video>
      </div>
      <div class="project-content" fxLayout="column wrap" fxLayoutAlign="center center">
        <div class="project-header">
          <h1>
            {{project.name}}
          </h1>
        </div>
        <div class="project-description">
          <p *ngFor="let descriptionParagraph of project.description">
            {{descriptionParagraph}}
          </p>
        </div>
      </div>
    </div>

    <div class="project-container" *ngIf="i%2==1"
      fxLayout="row-reverse"
      fxLayout.lt-md="column"
      fxLayoutAlign="start center">
      <div class="project-thumbnail-container">
        <img *ngIf="project.image !== ''" class="project-thumbnail" src={{project.image}} />
        <video *ngIf="project.video !== ''" class="project-thumbnail" autoplay loop muted playsinline>
          <source src={{project.video}} type="video/webm">
        </video>
      </div>
      <div class="project-content" fxLayout="column wrap" fxLayoutAlign="center center">
        <div class="project-header">
          <h1>
            {{project.name}}
          </h1>
        </div>
        <div class="project-description">
          <p *ngFor="let descriptionParagraph of project.description">
            {{descriptionParagraph}}
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
