<div class="chat-btn">
  <a href="/#contactMe">
    <img src="./assets/img-fixed-but/chat.png" alt="chat-box">
  </a>
</div>

<div class="hero">
  <img src="./assets/img-cirrusled/hero.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-cirrusled/problem statement.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-cirrusled/overview.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-cirrusled/obj + challenges.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-cirrusled/process.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-cirrusled/empathize.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-cirrusled/define.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-cirrusled/design.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-cirrusled/validate.png"/>
</div>
<div class="divider"></div>

<div class="image-container">
  <img src="./assets/img-cirrusled/reflection.png"/>
</div>
<div class="divider"></div>
